$color-blue: #93b1c2
$color-dark-blue: #3e5d6c
$color-accent: $color-blue

$heading-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: $heading-font-family

$header-background: none
$header-border-bottom-width: 0
$header-logo-height: 60px
$header-logo-height-desktop: 90px
$header-dropdown-full: true
$hero-background-color: none
$footer-background-color: none
$footer-logo-height: 60px
$footer-logo-height-desktop: 90px
