// style homepage hero

.page__home .hero
    background-image: url('/assets/images/hero-homepage-background.jpg')
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    color: #ffffff
    min-height: 100vh

    h1
        word-spacing: 100vw

//header logo and menu hero white

.page__home header:not(.is-sticky)
    .search-button--primary
        color: #ffffff
    .menu a
        color: #ffffff
        font-weight : bold
    .logo img
        content: url("/assets/images/logo-blanc.png")